html {
  height: 100%;
  margin: 0;
  overflow: hidden;
}

body {
  font-family: sans-serif;
  background-image: url("https://images.unsplash.com/photo-1688530324360-33002e7f9736?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHx0b3BpYy1mZWVkfDE2fGJvOGpRS1RhRTBZfHxlbnwwfHx8fHw%3D&auto=format&fit=crop&w=500&q=60");
  background-repeat: no-repeat;
  background-size: cover;
}

main{
    display: flex;
    flex-direction: column;
    max-width: 300px;
    margin: 50px auto;
}

.profile-pic{
    border-radius: 50%;
    margin: 0 auto;

}

.btn{
    background-color: white;
    padding: 16px 20px;
    margin-bottom: 20px;
    border-radius:6px
    color: #000;
    text-decoration: none;
    text-align: center;
}
.btn:hover{
    background: transparent;
    border: 1px solid white;
    color: white;
    
}